@tailwind base;
@tailwind components;
@tailwind utilities;


.textinput{
  transition: 0.1s ease;
}

.label{
  transition: 0.2s ease;
}


.textinput:focus + .label{
   top: -15px;
   font-size: 12px;
   height: auto;
   background-color: hsla(39, 74%, 68%, 1);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px hsla(39, 74%, 68%, 1) inset !important;
  box-shadow: 0 0 0 30px hsla(39, 74%, 68%, 1) inset !important;
  -webkit-text-fill-color: hsla(30, 70%, 40%, 1) !important;
  text-fill-color: hsla(30, 70%, 40%, 1) !important;
  
}